// Varibles
$font: Arial;
$background: #1C1C1D;
$purple: #DABFFF;
$offwhite: #D9D9D9;

body {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: $background;
    color: $offwhite;
    font-family: $font;
}



#container {
}

// ---------------
// - Reuse these -
// ---------------
.readMore {
    color: #e0caff;
    float: right;
}
.welcome-text-medium {
    font-size: 42px;
}
.purple-small {
    color: $purple;
    font-size: 36px;
}
// Global Buttons
.cat-buttons {
    width: 200px;
    display: inline-block;    
    color: $offwhite;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    padding: 25px 25px;
    background-color: #ffffff00;
    border: 2px solid $offwhite;
    border-radius: 25px;
    box-shadow: 0 9px $offwhite;
    &:active {
        color: #a8a8a8;
        box-shadow: 0 5px #a8a8a8;
        transform: translateY(4px);
    }
}


// Simple text center
.center {
    text-align: center;
}


// Navbar
nav {
    position: absolute;
    height: 100px;
    top: 0;
    width: 100%;
    // This makes the mobile menu function
    #navLinks {
        width: 0;
        height: 72px;
        background-color: #262627;
    }
    ul {
        padding-left: 0;
        overflow: hidden;
        list-style-type: none;
        li {
            display: inline-block;
            padding-left: 50px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        a {
            font-size: 42px;
            text-decoration: none;
            color: white;
        }
    }
    // Hamburger Menu for Mobile
    .icon {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        color: $purple;     
        font-size: 72px;
    }
}
// Homepage Call to Action
#top {
    margin-top: 300px;
    margin-bottom: 300px;
    .welcome-display {
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 42px;
        }
    }
    .cta-click {
        display: flex;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }
}

// All Sections
section {
    padding-top: 20px;
    padding-bottom: 10px;
    h2 {
        font-size: 42px;
        padding-bottom: 20px;
    }
}


.containContent {
    max-width: 800px;
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;

}

.dynamicBubble {
    align-self: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 25px;
    padding-bottom: 60px;
    padding-left: 25px;
    .previewBubble {
        max-width: 300px;
        min-width: 100px;
        border: 2px solid $offwhite;
        border-radius: 25px;
        padding-top: 0;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 25px;
        h3 {
            margin-bottom: 0;
            font-size: 36px;
        }
        .post-preview {
            margin-bottom: 0;
            font-size: 16px;
        }
        a {
            text-decoration: none;
        }
    }
}




#projectPage {
    padding-top: 100px;
    img {
        width: 100%;
        height: auto;
    }
    h1 {
        font-size: 50px;
        text-align: center;
    }
    .projectInfo {
        h2 {
            font-size: 32px;
        }
        p {
            font-size: 18px;
        }
    }
}

// Projects
#projectPreview {
    border-top: 5px solid $purple;
}


// Skills
#skills {
    border-top: 5px solid $purple;
    h2 {
        padding-bottom: 0;
    }
    #skill-collection {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        align-self: center;
        padding-bottom: 40px;
        button {
            margin: 5px;
            border: none;
            width: 120px;
            height: 50px;
            color: $offwhite;
            text-align: center;
            text-decoration: none;
            font-size: 18px;
            background-color: #01a9ec;
            border-radius: 15px;
        }
    }
}

// Blog
#blogPreview {
    border-top: 5px solid $purple;
}


#aboutMe {
    border-top: 5px solid $purple;
    article {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        img {
            border: #D9D9D9;
        }
        p {
            max-width: 250px;
        }
    }
}

// -----------------------
//         FOOTER
// -----------------------
footer {
    border-top: 100px solid $purple;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $background;
    width: 100%;
    height: 15vh;
    a {
        font-size: 26px;
        text-decoration: none;
        color: white;
    }
}







// -----------------------
// Tablets
// -----------------------

@media only screen and (min-width: 800px) {
nav {
    top: 0;
    width: 100%;
    #navLinks {
        display: block;
        width: 100%;
        margin-top: 0;
    }
    ul {
        padding-left: 0;
        padding-top: 0;
        overflow: hidden;
        list-style-type: none;
        li {
            display: inline-block;
            padding-left: 50px;
            padding-right: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        a {
            font-size: 42px;
            text-decoration: none;
            color: white;
        }
    }
    // Hamburger Menu for Mobile
    .icon {
        display: none;
    }
}
    .dynamicBubble {
        flex-direction: row;
    }
} // End of Tablet

// -----------------------
// Desktops and big tablets
// -----------------------
@media only screen and (min-width: 960px) {




} // End of Desktop









// -----------------------
// Mobile
// -----------------------
@media only screen and (max-width: 800px) {
// -----------------------
// -   Animate NavBar    -
// -----------------------
    #navLinks.menu-in {
        animation: menu-in 0.7s ease-in forwards;
    }
    #navLinks.menu-out {
        animation: menu-out 0.7s ease-in forwards;
    }
    // Keyframes
    @keyframes menu-in {
    0% {
        width: 0;
    }

    100% {
        width: 600px;
    }
    }

    @keyframes menu-out {
    0% {
        width: 600px;
    }

    100% {
        width: 0px;
    }
}
} // End of Mobile
